<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaladura de Jabones</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img alt="" class="img-responsive" src="~/Content/images/chaladura.png" />
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Home/Index"><strong><span class="glyphicon glyphicon-home"></span> Inicio</strong></a>
                    </li>
                    <li class="navbar-divider"></li>
                    <li>
                        <a href="~/Clientes/ClientesIndex"><strong><span class="glyphicon glyphicon-globe"></span> Clientes</strong></a>
                    </li>
                    <li class="navbar-divider"></li>
                    <li>
                        <a href="~/Pedidos/PedidosIndex"><strong><span class="glyphicon glyphicon-euro"></span> Pedidos</strong></a>
                    </li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid container-fluid-top">
        @RenderBody()
        <footer class="navbar-fixed-bottom">
            <div class="container-fluid">
                <h5>
                    <img src="~/Content/images/chaladura.png" alt="" class="img-responsive cdj-footer-icon" />
                    <strong>Chaladura - &copy; @DateTime.Now.Year</strong>
                </h5>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
